<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

{{range $post := .}}
     {{$post.Content}}

-x-x-x-x-x-x-x-x-x-x-x-x-x-x-
{{end}}

</body>
</html>
